@media (max-width: 768px) {
    
    .container {
        width: 768px;
    }

}

@media (max-width: 480px) {
    
    .container {
        width: 480px;
    }

    .row {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .lessons .col, .steps .col {
        width: 100%;
    }

    .card {
        padding-bottom: 50px;
    }

    .why-us .col-left {
        width: 100%;
        padding-bottom: 50px;
    }

    .why-us .col-right {
        width: 100%;
        text-align: center;
    }
}